loguru>=0.7.2
pydantic>=2.12.5
pandas>=2.3.3
numpy>=1.26.0,<2.0.0
torch>=2.9.1
torchdiffeq>=0.2.5
dowhy>=0.11,<0.13
econml>=0.16.0
scikit-learn<1.7
shap>=0.38.1,<0.49.0
networkx<3.0
causal-learn>=0.1.3
